@model EvaluateHandViewModel
@{
    ViewData["Title"] = "Test Hand";
}

<div class="text-center">
    <h1 class="display-4">Welcome.  Card values are hard coded in controller.</h1> 
    <div>
        <form asp-action="Index" asp-controller="Home" id="form">
            <input class="btn btn-success" id="btnAdd" type="button" value="Deal Test Hand" />
        </form>
        <div id="resultsContainer"></div>  
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    $("#btnAdd").on('click', function () {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: '/Home/TestHand',
                success: function (partialView) {
                    console.log("partialView: " + partialView);
                    $('#resultsContainer').html(partialView);
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText
                    console.log(errorMessage)
                    $('#resultsContainer').html("An error has occured.");
                }
            });
        });</script>
}